


html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: inline;
  }

 nav {
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

nav .item {
  text-decoration: none;
}




